* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "tamanegi kaisho";
    src: url("./assets/fonts/tamanegi_kaisho_free_kai.ttf");
}

@font-face {
    font-family: "kaisei decol";
    src: url("./assets/fonts/KaiseiDecol-Bold.ttf");
}


:root {
    --sky-blue: #39a9d5;
    --green: #3CB371;
    --orange: #FFA500;
}

h1, h2 {
    text-align: center;
    margin: 20px auto;
}

#screens {
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
}

/* ボタンのスタイル */
.button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    width: 200px;
}

.blueButton {
    background-color: var(--sky-blue);
    color: white;
    border: 1px solid var(--sky-blue);
}

.blueButton:hover {
    background-color: white;
    color: var(--sky-blue);
}

.greenButton {
    background-color: var(--green);
    color: white;
    border: 1px solid var(--green);
}

.greenButton:hover {
    background-color: white;
    color: var(--green);
}

#startButton, #muteStartButton {
    margin: 20px auto;
    text-align: center;
}

.orangeButton {
    background-color: var(--orange);
    color: white;
    border: 1px solid var(--orange);
}

.orangeButton:hover {
    background-color: white;
    color: var(--orange);
}


/* スタートシーンのスタイル */
#settings {
    margin: 30px auto;
}

#questionCountSelectBlock {
    margin: 20px auto;
    text-align: center;
}

#questionCountSelect {
    padding: 2px 10px;
    font-size: 1rem;
    border-radius: 3px;
}



/* クイズシーンのスタイル */
#questionArea {
    position: relative;
    aspect-ratio: 7/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#questionFrame {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

#question {
    display: block;
    margin: auto;
    width: 80%;
    font-family: "kaisei decol";
}

.circleX {
    position: absolute;
    height: 80%;
    display: block;
    margin: auto;
}

#qExplain {
    margin: 20px auto;
    height: 40px;
    display: flex;
    align-items: center;
}

#qExplain img {
    display: block;
    margin: 0 10px;
    height: 100%;
    width: auto;
}

#qExplain p {
    line-height: 40px;
}


#choices {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
}

.choice {
    margin: 5px;
    width: 200px;
}

.choice:hover {
    background-color: white;
    color: var(--orange);
}

#eachQResult {
    text-align: center;
}



/* リザルトシーンのスタイル */
.resultImg {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: auto;
}


#resultButtons {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

#resultButtons .button {
    margin: 0 10px;
}

#shareAreas {
    text-align: center;
    margin: 50px 20px;
}

.shareButton {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 10px;
    text-decoration: none;
}

#twitterShare {
    background-color: #008DDE;
    box-shadow: 0 4px 0 #0078BD;
}
#twitterShare:hover {
    background-color: #1397D8;
}
#twitterShare:active {
    top: 2px;
    box-shadow: 0 2px 0 #0078BD;
}

#lineShare {
    background-color: #4cc764;
    box-shadow: 0 4px 0 #2ca744;
}
#lineShare:hover {
    background-color: #5dd875;
}
#lineShare:active {
    top: 2px;
    box-shadow: 0 2px 0 #2ca744;
}

